<div class="container">
  <div class="form-group">
    <label for="category"><b style="font-size: 20px;">Select Category</b></label>
    <select onchange="selectCategory()" name="category" id="homePageCategorySelection" class="form-control"
      id="category">
      <option>All Categories</option>
      <option>Vehicles</option>
      <option>Electronics And Home Appliances</option>
      <option>Furnitue,Home And Decoration</option>
      <option>Fashion And Beauty</option>
      <option>Books Sports And Hobbies</option>
    </select>
  </div>
</div>
<div id="slider">
  <div id="box1">
    <img src="/static/img/a.jpg">
  </div>

  <!-- buttons for controls slider -->
  <button class="prew fa fa-chevron-left" onclick="prewImage()"></button>
  <button class="next fa fa-chevron-right" onclick="nextImage()"></button>
</div>




<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="margin-bottom: 20px;" src="img/slide15.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/slide5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/slide12.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/slide18.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div> -->


<div class="main">
  <div class="box">
    <img src="/static/img/clothing2.jpg" alt="">
    <!-- <img src="img/clothing2.jpg" alt=""> -->
    <div class="details">
      <a href="/clothing">
        <p>Clothing for men and women</p>
      </a>
    </div>
  </div>
  <div class="box">
    <img src="/static/img/electronics.jpg" alt="">
    <!-- <img src="img/electronics.jpg" alt=""> -->
    <div class="details">
      <a href="/electronic">
        <p>Electronics and Home Appliances</p>
      </a>
    </div>
  </div>
  <div class="box">
    <img src="/static/img/decor.jpg" alt="">
    <!-- <img src="img/decor.jpg" alt=""> -->
    <div class="details">
      <a href="/furniture">
        <p>Furniture and Home decors</p>
      </a>
    </div>
  </div>
  <div class="box">
    <img src="/static/img/book.jpg" alt="">
    <!-- <img src="img/book.jpg" alt=""> -->
    <div class="details">
      <a href="/book">
        <p>Books and Sports</p>
      </a>
    </div>
  </div>


</div>
<div class="container" id="container">
  <div class="row" id="row">

  </div>
</div>